<style>
  /* CSS */
.button-1 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
}

.button-1:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.icon{
  width:30px !important; 
  height:auto !important;
  margin: -5px 0px 0px -10px;
  position: absolute;
}
.img-kofi{
    width: 70px !important;
    height: auto !important;
    margin-bottom: -10px !important;
 }
 .icon-text{
    margin: -20px 0px 0px 30px;
    font-weight: 600;
 }
</style>
<!-- HTML !-->
<hr>
<h1>Available Services</h1>

<p>The majority of my research has been conducted voluntarily, without any financial backing. Should you wish to contribute to my efforts, you have the option to buy me a coffee.</p>
<p>These funds will be allocated solely towards covering Article Processing Charges. Thank you so much for your donation. Your generosity means everything to me.</p>

<a target="_blank" href="https://ko-fi.com/aleksandar8232/goal?g=0"><button  class="button-1" role="button"><img class="icon" src="543530.png" alt="icon"><span class="icon-text">Buy Me a Coffee</span></button></a>
<br>
<p> via <a href="https://ko-fi.com"><img class="img-kofi" src="Kofi-logo.png" alt="Ko-Fi"></a></p>
